body {
   min-height: 100vh;
   color: white;
   background: #212121;
   font-family: Raleway;
   font-weight: 500;
   cursor: url('https://img.icons8.com/color-glass/25/select-cursor--v1.png'),
   url('https://img.icons8.com/doodle/30/blue-pointer.png'), auto;
}
#instruction {
   width: 85%;
   margin: 2rem auto 0;
   line-height: 1;
}
#inst-p, ol > li {
   text-decoration: 1px solid underline aliceblue
}
li {
   line-height: 1.5
}
input[type='search'] {
   color: white;
   background: black;
   text-align: center;
   width: 120px;
   height: 2.5rem;
   border-radius: 12px;
   transition: .4s;
}
input:focus {
   outline: none;
   border: 2px solid teal;
}
input:invalid {
   border: 2px solid red;
}
input {
   accent-color: #3fb6c9;
}
button {
   width: 60px;
   height: 30px;
}
header {
   margin: 10px auto;
   //border: 1px solid;
}
header p {
   text-decoration: underline;
}
main {
   //border: 1px solid;
}
select, button, input[type='checkbox'] {
   cursor: pointer;
}

#outer-select {
   width: 97%;
   max-width: 50rem;
   margin: 0px auto;
   //border: 1px solid teal
}
#select-label {
   margin: 0 10px;
   //border: 1px solid;
}
#selects {
   display: flex;
   margin: 0px auto;
   justify-content: space-around;
   align-items: center;
   //border: 1px solid;
}
select {
   width: 100px;
   height: 35px;
   color: black;
   background: white;
   border-radius: 5px;
   font-size: 1rem;
   margin: 10px 12px 0;
   text-align: center;
}
#select3 {
   display: none;
}

#submit {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 20px auto 0;
   max-width: 376px;
}
span {
   display: flex;
   align-items: center;
}
#data {
   width: 85%;
   height: 68vh;
   max-width: 40rem;
   margin: 10px auto 0px;
   overflow: auto;
   line-height: 2;
   white-space: nowrap;
   scrollbar-width: thin; /* Firefox */
   scrollbar-color: transparent transparent;
   /* //border: 1px solid; */
   padding: 0 0 0 20px;
   border-radius: 10px;
   background-color: #32373c; /* #32373c */
}
#data::-webkit-scrollbar {
   width: 3px;
}
#data::-webkit-scrollbar-thumb {
   background-color: #cccccc66;
   border-radius: 5px;
}
#data::-webkit-scrollbar-track {
   background-color: transparent;
}

p {
   margin: 8px 0;
   text-align: center;
}
a {
   color: white;
   text-decoration: underline;
}
a:hover {
   color: Tomato;
   transition: .4s;
   letter-spacing: 1px;
}
#mgBox {
   display: none;
   margin: 10px 0 0;
}
#msgBox {
   display: none;
   width: 20px;
   height: 20px;
   padding: 0;
   margin: 10px auto 0;
   border-radius: 50%;
   border: 2.5px solid transparent;
   border-top-color: #4285F4;
   animation: spin 1.9s ease-in-out infinite;
}
@keyframes spin {
   0% {
      border-top-color: #4285F4; /* Initial color */
   }
   30% {
      border-top-color: #DB4437; /* Change color at 25% of animation */
   }
   50% {
      border-top-color: #F4B400; /* Change color at 50% of animation */
   }
   70% {
      border-top-color: #0F9D58; /* Change color at 75% of animation */
   }
   100% {
      border-top-color: #4285F4; /* Back to initial color at 100% of animation */
      transform: rotate(360deg);
   }
}
#logo-div {
   display: inline;
}
#logo {
   position: relative; /*absolute*/
   margin: 0px 5px 0;
   width: 25px;
   background: white;
}

hr {
   width: 80%;
}
#map {
   display: none;
   margin: 10px 10px 0;
}
iframe {
   display: none; /*flex*/
   width: 97%;
   max-width: 1000px;
   justify-content: center;
   margin: 10px auto 5rem;
}
#msgMap {
   display: none;
   padding: 0px 0 4rem;
}
footer {
   //border: 1px solid;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: #212121;
}

header, main {
   width: 100%;
   margin: auto;
   max-width: 1000px;
}

#distance {
   display: flex;
   justify-content: space-between;
   width: 85%;
   margin: auto;
   //border: 1px solid teal;
}
#line-p {
   width: 100%;
   margin: 0 5px;
   border-radius: 5px;
   background: #cccccc66;
   //border: 1px solid
}
#line {
   height: 2px;
   border-radius: 5px;
   background: yellow;
}

.tour {
   background-color: #fde047;
   color: #000;
}

@media screen and (min-width: 768px) {
   #data {
      height: 62.5vh;
   }
}

@font-face {
   font-family: 'Cailyne';
   src: url('./Font/Cailyne.ttf') format(truetype);
}
